section#timeline {
    background-color: var(--background1);
    padding: 3rem 0;

    h1 {
        margin: 0;
    }
}

.fa-circle {
    scale: 0.5;
    margin: 0 10px;
}

.timeline-container {
    max-width: 1200px;
    margin: 0 auto;

    .sub-timeline {
        background-repeat: no-repeat;
        background-size: 40%;
        margin: 2rem 0;


    }

    .sitecore {
        background-image: url("../../images/Sitecore.png"); 
        background-position: right;
        
    }    
    
    .l3wescam {
        background-image: url("../../images/L3 WESCAM.png"); 
        background-position: left;
        
        @media only screen and (max-width: 1169px) {
            background-position: right;
        }
    }

    .mcmaster {
        min-height: 250px;
        background-image: url("../../images/McMaster.png"); 
        background-position: right;
        
    }   

    .vertical-timeline-element {

        .vertical-timeline-element-content {
            color: var(--foreground2);
            background-color: var(--background2);
            padding: 1rem;
            width: 510px;
            max-width: 600px;

            @media only screen and (max-width: 1169px) {
                width: unset;
            }

            @media only screen and (max-width: 1169px) {
                background-position: right;
            }

            .content {
                    display: flex;
                    flex-wrap: wrap;
            }

            .instituion-and-loaction {
                padding-bottom: 1rem;
            }

            h2 {
                margin: 0;
                color: var(--foreground2);
            }

            .vertical-timeline-element-date {
                color: var(--absolute-black);
                font-size: 120%;
                font-weight: bold;
            }

            .vertical-timeline-element-content-arrow {
                border-right: 8px solid var(--background2);
            }
        }

        .vertical-timeline-element-icon {
            background-color: var(--background2);
            width: 2rem;
            height: 2rem;
            margin-left: -1rem;
            margin-top: 1rem;
            box-shadow: none;

            @media only screen and (max-width: 1169px) {
                margin-left: 0.25rem;
                margin-top: 0.5rem;
            }
        }
    }

    .pill {
        border-radius: 500px;
        border-style: solid;
        border-width: 1px;
        border-color: var(--foreground2);
        background-color: var(--highlight);
        color: var(--foreground2);
        padding: 3px 12px;
        margin: 3px;
        font-size: 0.8rem;
        font-weight: 500;
        width: fit-content;
        align-content: center;
        text-align: center;
    }
}