.horizontal-line {
    margin: 1rem 0 1rem 0;
    height: 2px;
    background: var(--charcoal);
    background: linear-gradient(90deg,
        var(--foreground1) 0%,  
        var(--highlight) 60%,
    ); 
} 