section#hero {
    max-width: 1200px;
    margin: 0 auto;
    padding: 3rem 0;


    .animated-text {
        color: var(--highlight);
    }

    h1 {
        margin: 0;
        padding: 2rem 0;
    }

    h2 {
        color: var(--foreground1);
    }

    .blurb {
        font-size: 1.2rem;
    }
}