.card {
    display: grid;
    grid-template-columns: repeat(10, 1fr);
    justify-items: center;

    .card-text {
        grid-column: 5/11;
        grid-row: 1/2;
        order: 2;
        text-align: right;
    
        .card-title {
            color: var(--highlight);
        }
        
        .card-content {
            padding: 1rem;
            border-radius: 10px;
            color: var(--foreground1);
            background-color: var(--card-background);
            font-size: 1rem;
            line-height: 1.5;
        } 
    }
    
    .card-image {
        grid-column: 1/6;
        grid-row: 1/2;
        margin: 2rem 0 4rem 0;
        padding: 1rem;
        border-left: 1px solid var(--highlight);
        border-top: 1px solid var(--highlight);
        border-radius: 25px;
        height: 10rem;
    }
}